@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
h1,h2,h3,p{
font-family: "Inter Tight", sans-serif;
}
.Home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.HomeContainer {
  width: 143rem;
}
.HomeHeaderBlock {
  width: 100%;
  height: 80rem;
  display: flex;
  flex-direction: column;
  background-image: url(/public/Mask\ group.png);
  background-size: cover;
  border-radius: 15rem;
}
.blockHeaderImg {
  display: flex;
  justify-content: space-between;
  padding: 10rem;
}
.cards {
  width: 18rem;
  height: 18rem;
}
.gerb {
  width: 9rem;
  height: 10rem;
}
.HomeHeaderDescription {
  display: flex;
  justify-content: left;
  align-items: center;
  grid-gap: 5rem;
  padding-left: 5rem;
}
.HomeHeaderDescription h2 {
  font-size: 6rem;
  font-weight: 100;
}
.HomeHeaderDescription p {
  font-size: 3rem;
  font-weight: 100;
  text-align: left;
}
.HomeFooterDescription {
  padding-top: 5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
.HomeFooterDescription div {
  display: flex;
  justify-content: left;
  align-items: center;
  grid-gap: 5rem;
}
.HomeFooterDescription h2 {
  font-size: 12rem;
}
.HomeFooterDescriptionItem button {
  background: none;
  border: 2px solid #4e89fb;
  color: #4e89fb;
  width: 35rem;
  height: 7.5rem;
  font-size: 3rem;
  font-weight: bold;
  background-color: #fff;
}
.aboutSection {
  width: 100%;
  margin-top: 15rem;
}
.aboutContainer {
  width: 143rem;
}
.aboutHeader {
  display: flex;
  justify-content: left;
  font-size: 8rem;
  padding-bottom: 10rem;
}
.aboutContent {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 14rem;
}
.aboutContentItem1 {
  width: 65rem;
  height: 65rem;
  background: linear-gradient(140.97deg, #e1f3ff -2.2%, #b9e2ff 93.67%);
  border-radius: 10rem;
  padding: 5rem;
}
.aboutContentItem1 h2 {
  font-size: 3rem;
}
.aboutContentItem1 p {
  font-size: 3rem;
}
.aboutContentItem2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-gap: 4rem;
}
.image {
  position: absolute;
  z-index: -100;
  background-size: cover;
  width: 110rem;
}
.items {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-gap: 4rem;
}
.Item1 {
  width: 65rem;
  height: 30rem;
  padding: 6rem;
  border: 6px solid #fcde44;
  border-radius: 7rem;
  background: rgba(255, 255, 255, 0.8);
}
.Item1 h2 {
  font-size: 4.5rem;
  padding-bottom: 3rem;
}
.Item1 p {
  font-size: 3rem;
}
.Item2 {
  width: 65rem;
  height: 30rem;
  padding: 6rem;
  border: 6px solid #69db00;
  border-radius: 7rem;
  background: rgba(255, 255, 255, 0.8);
}
.Item2 h2 {
  font-size: 4.5rem;
  padding-bottom: 3rem;
}
.Item2 p {
  font-size: 2.5rem;
}


.programmSection {
  width: 100%;
  margin-top: 15rem;
}
.programmContainer {
  width: 143rem;
}
.programmHeader {
  display: flex;
  justify-content: left;
  font-size: 6.5rem;
  padding-bottom: 10rem;
}
.programmContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 10rem;
}
.programmContentLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-gap: 7rem;
}

.programmContentBlock1{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
}
.programmContentInfo1 {
  width: 60rem;
  height: 22.5rem;
  background: linear-gradient(140.97deg, #e1f3ff -2.2%, #b9e2ff 93.67%);
  border-radius: 7rem;
  padding: 5rem 2rem 5rem 4rem;
  display: flex;
  align-items: center;
  justify-content: start;
}
.programmContentInfo2{
  width: 60rem;
  height: 22.5rem;
  background: linear-gradient(140.97deg, #e1f3ff -2.2%, #b9e2ff 93.67%);
  border-radius: 7rem;
  padding: 5rem 2rem 5rem 4rem;
  display: flex;
  align-items: center;
  justify-content: start;
  background: linear-gradient(90deg, rgba(210, 74, 67, 0.5) 0%, #F34037 100%);
}
  
.programmContentInfo1Text {
  white-space: pre-line;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.programmContentInfo1Text>h3{
  font-size: 4.75rem;
}
.programmContentButton {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 14rem;
}
.programmButton{
  background-color: transparent;
  width: 13rem;
  height: 6rem;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
.programmContentRight {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-gap: 7rem;
}
.programmContentInfo3 {
  width: 60rem;
  height: 22.5rem;
  background: linear-gradient(89.98deg, rgba(252, 222, 68, 0.24) 38.36%, #FCDE44 99.98%);
  border-radius: 7rem;
  padding: 5rem 2rem 5rem 4rem;
  display: flex;
  align-items: center;
  justify-content: start;
}
.programmContentInfo4 {
  width: 60rem;
  height: 22.5rem;
  background: linear-gradient(90deg, rgba(105, 219, 0, 0.31) 31.29%, #69DB00 118.71%);
  border-radius: 7rem;
  padding: 5rem 2rem 5rem 4rem;
  display: flex;
  align-items: center;
  justify-content: start;
}.programmContentInfo5 {
  width: 60rem;
  height: 22.5rem;
  background: linear-gradient(89.98deg, rgba(78, 137, 251, 0.33) 29.34%, #4E89FB 99.98%);
  border-radius: 7rem;
  padding: 5rem 2rem 5rem 4rem;
  display: flex;
  align-items: center;
  justify-content: start;
}
.programmFooter{
  padding-top: 5rem;
  display: flex;
  justify-content: end;
  align-items: end;
}
.programmFooter>button{
  font-family: "Inter Tight", sans-serif;
  font-size: 3.5rem;
  height: 10rem;
  width: 35rem;
  border-radius: 14rem;
  margin-right: 2.75rem;
}
